.side-bar
  .side-bar__user-name
    .name
      .name__left
        = current_user.name
      .name__right
        = link_to "#" , class: "name__right__icon" do
          %i.fa.fa-edit.fa-lg
        = link_to "#" , class: "name__right__icon" do
          %i.fa.fa-cog.fa-lg
  .side-bar__group__list
    .groups
      .group
        =link_to "#", class: "group__link" do
          .group__link__name
            TECH::EXPERT68期
          .group__link__message
            メッセージは未投稿です
      .group
        =link_to "#", class: "group__link" do
          .group__link__name
            TECH::EXPERT68期
          .group__link__message
            メッセージは未投稿です